{% extends "vehicle/carburetion_tank/base.html" %}
{% block title %}Tanque de Almacenamiento{% endblock %}
{% block js_code %}{% endblock %}
{% block content %}
  <h2>Tanque de Carburacion</h2>
  <br>
  <section>
    <form method="post" action="." width="400px">
      {% csrf_token %}
      <div style="text-align:left;">
        <span class="span3">
          Serie:
          <br>
          {{ carburetion_tankForm.series }}
        </span>
        <span class="span3">
          Marca:
          <br>
          {{ carburetion_tankForm.brand }}
        </span>
        <span class="span3">
          Modelo:
          <br>
          {{ carburetion_tankForm.model }}
        </span>
        <span class="span3">
          Capacidad:
          <br>
          {{ carburetion_tankForm.capacity }}
        </span>
        <!-- <span class="span3">
          Estado:
          <br>
          {{ carburetion_tankForm.state }}
        </span> -->
      </div>
      <br>
      <p class="form-actions" style="clear:both;">
        <input type="submit" class="btn btn-primary" value="Guardar y Salir" />
      </p>  
    </form>
  </section>
  <br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}

