{% extends "vehicle/chassis/base.html" %}
{% block title %}Home{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; Chasis ({{ chassis }}){% endblock %} 
{% block content %}  
  
  <h2>Chasis <a class="btn" href="/reporte/{{ chassis.id}}" target="_blank">Reporte</a>
  </h2>
  <br>
  <div class="span3">
    {{ chassis.name}} <br>
    <br>
    <p><label>{{ chassis.brand }} {{ chassis.line}} {{ chassis.model}}</label></p>
    <p><label style="float:left;">Chasis </label> {{ chassis.name }}</p>
    <p><label style="float:left;">Placas:</label> {{ chassis.license_plates}}</p>
    <p><label style="float:left;">Color:</label> {{ chassis.color}}</p>
    <p><label style="float:left;">Kilometraje:</label> {{ chassis.mileage}}</p>
    <br>
  </div>
  {% for ServiceGroup in ServicesGroups %}
  <div class="span3" style="text-align:left;">
    <b>{{ ServiceGroup.name }}</b>
    <hr>
    {% for ServiceGroupItem in ServicesGroupItems %}
      {% if ServiceGroupItem.services_group == ServiceGroup %}
        {{ ServiceGroupItem.services.name }} <br>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
  <h3 style="clear:both;">Mantenimientos Realizados a Chasis <a class="btn" href="/ChassisMaintenance/New/{{ chassis.id}}"><i class="icon-plus"></i></a></h3> &nbsp; &nbsp;
  {% for chassis_maintenance in chassis_maintenances %}
  <article class="tarjeta">
        <div class="btn-group btn-danger" style="width:100%;">
          <a href='/ChassisMaintenance/{{ chassis_maintenance.id }}/{{ chassis.id }}/' style="width:75%;" class="btn btn-danger btn-primary">
            {{ chassis_maintenance.garage }} 
          </a>
          <a class="btn btn-danger btn-primary dropdown-toggle" data-toggle="dropdown" href="/ChassisMaintenance/delete/{{ chassis_maintenance.id }}"><span class="icon-trash"></span></a>
        </div>  
    <section>
      <label>{{ chassis_maintenance.date }} </label>
      <hr>
      {% for chassis_service in chassis_services %} 
        {% if chassis_service.chassis_maintenance == chassis_maintenance %}
            <p>{{ chassis_service.service }}</p>
        {% endif%}
      {% endfor %}

      {% for chassis_service_group in chassis_services_groups %} 
        {% if chassis_service_group.chassis_maintenance == chassis_maintenance %}
            <p style="font-weight:bold;">{{ chassis_service_group.services_group.name }}</p>
        {% endif%}
      {% endfor %}
    </section>
  </article>  
  {% endfor %}
  <br>
  <br>
  
  <br><br><br><br><br><br><br><br><br><br>
{% endblock %}

