{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}     
  <h2>Detalles de Tanque de Almacenamiento </h2>
  <br>
  {{ storage_tank.series}}<br>
  <br>
  <p><label>{{ storage_tank.brand }}{{ storage_tank.model}}</label></p>
  <p><label style="float:left;">Chasis </label> {{ storage_tank.series }}</p>

  <br>
  <h3>Mantenimientos Realizados a Tanque de Almacenamiento</h3><a class="btn" href="/StorageTankMaintenace/New/"><i class="icon-plus"></i> Nuevo Mantenimiento</a></h3>
  {% for storage_tank_maintenance in storage_tank_maintenances %}
  <article class="tarjeta">
    <div class="btn-group btn-danger" style="width:100%;">
          <a href='/StorageTankMaintenace/{{ storage_tank_maintenance.id }}' style="width:75%;" class="btn btn-danger btn-primary">
             {{ storage_tank_maintenance.garage }}
          </a>
          <a class="btn btn-danger btn-primary dropdown-toggle" data-toggle="dropdown" href="/StorageTankMaintenace/Delete/{{ storage_tank_maintenance.id }}"><span class="icon-trash"></span></a>
    </div>
    <section>
      <label>{{ storage_tank_maintenance.date }}</label>
      <hr>
      {% for storage_tank_service in storage_tank_services %} 
        {% if storage_tank_service.storage_tank_maintenance == storage_tank_maintenance %}
            <p>{{ storage_tank_service.service.name }}</p>
        {% endif%}
      {% endfor %}

      {% for storage_tank_service_group in storage_tank_services_groups %} 
        {% if storage_tank_service_group.storage_tank_maintenance == storage_tank_maintenance %}
            <p style="font-weight:bold;">{{ storage_tank_service_group.services_group.name }}</p>
        {% endif%}
      {% endfor %}
    </section>
  </article>  
  {% endfor %}
  <br>
  <br>
  
  <br><br><br><br><br><br><br><br><br><br>
{% endblock %}

