{% extends "base.html" %}
{% block title %}Chasis{% endblock %}
{% block js_code %}{% endblock %}
{% block content %}
  <h2>Mantenimientos de Chasis</h2>
  <section>
    <form method="post" action="." width="400px">
      {% csrf_token %}
      {{ chassis_maintenanceForm }}
      {{ chassis_maintenanceSForm }}

      <br>
        <h2>Servicios </h2>
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>Servicio</th>
        <th>Acciones</th>
      </tr>
      {% for servicesGroup in servicesGroups %}
      <tr>
        <td>#x</td>
        <td><label><b> {{ servicesGroup.services_group.name }}</b></label></td> 
        <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-remove"></i> Eliminar</a></td>
      </tr>
      {% endfor %}
      {% for service in servicesI %}
      <tr>
        <td>#x</td>
        <td><label> {{ service.service.name }}</label></td>
        <td><a href="#" class="btn btn-mini btn-danger"><i class="icon-remove"></i> Eliminar</a></td>
      </tr>
      {% endfor %}
      
    </table> 
    <p style="clear:both;">
        <input type="submit" class="btn btn-large" value="Guardar y Salir" />
      </p> 
    </form>
  </section>
  <br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}

