{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block style_css %}
{% endblock %}
{% block js_code %}

{% endblock %}

{% block content %}
  <h2 >Vehiculos en Uso </h2>  
  <form method="post" action="">
      <table>
      	{% csrf_token %}
      	{{chassis_maintenance_form.as_table}}
      	{{ formsetS.as_table }}
      	<input title='Add a new car model' type='submit' name='add_car' value='Add' />
      	
    	{{ formsetSG.as_table }}
          <input type="submit" class="btn btn-large" value="Guardar y Salir" />
      </table>
  </form>
{% endblock %}

