{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block style_css %}
{% endblock %}
{% block js_code %}
<script src='{{STATIC_URL}}js/jquery.formset.js'></script>
<script type="text/javascript">
  $(function() {
    $('#myForm tbody tr').formset({
      prefix: '{{ fs.prefix }}'
    });
  })
</script>
{% endblock %}

{% block content %}
  	<h2 >Vehiculos en Uso </h2>  


  	<form id="myForm" method="post" action="">{% csrf_token %}
  		{{ f }}
  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    	{% for form in fs.forms %}
		<tr id="{ form.prefix }}-row">
            <td>
            {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
        	{{ form.service }}
            </td>
            <td>{{ form.quantity }}</td>
        </tr>
        {% endfor %}                   
    </tbody>
  </table>
	{{ fs.management_form }}
	  	<input type="submit" class="btn btn-large" value="Guardar y Salir" />
  	</form>
  	<br>
{% endblock %}
