{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block style_css %}
<style type="text/css">
    .add-row {
    }
    .delete-row {
    }
    .dynamic-event-form th {
        text-align:right;
        font-weight:bold;
    }
    .dynamic-event-form td span img {
        vertical-align:middle;
        border:0;
    }
</style>
<link rel='stylesheet' href='{{STATIC_URL}}css/redmond/jquery-ui-1.8.23.custom.css'/>
{% endblock %}
{% block js_code %}
<script src='{{STATIC_URL}}js/jquery.formset.js'></script>
<script type="text/javascript">

    // Define this so we don't have to bother with the admin jsi18n stuff:
    function gettext(msgid) { return msgid; }
</script>
{{ event_formset.media }}
<script type="text/javascript">
    $(function(){
        $('#id_service_info_table tbody tr').formset({
            formCssClass: 'dynamic-contact-form',
            prefix: "{{ fs.prefix }}",
            addText:"Nuevo",
            deleteText:"",
        });
        $('#id_serviceGroup_info_table tbody tr').formset({
            formCssClass: 'dynamic-event-form',
            prefix: "{{ fsg.prefix }}",
            addText:"Nuevo",
            deleteText:"",
        });
        
        $(".add-row").addClass("btn btn-small btn-success");
        $('#id_date').datetimepicker({ dateFormat: 'dd/mm/yy',});
    });
</script>
{% endblock %}
{% block content %}
  	<h2 >Mantenimiento</h2>  
    {% if message != "" %}
    <div class="alert fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{ message }}!</strong> 
    </div>
    {% endif %}
    <form method="post" action="">{% csrf_token %}
    <div style="text-align:left;">
        <fieldset>
        <legend>Detales de Mantenimiento:</legend>
        <span class="span3">
            Fecha:
            <br>
            {{ f.date }}
        </span>
        <span class="span3">
            Taller:<br>
            {{ f.garage }}
        </span>
        <span class="span3">
            Chassis:
            {{ f.chassis }}
        </span>
        <span class="span3" style="clear:both;">
            Kilometraje:
            {{ f.mileage }}
        </span>
        </fieldset>
    </div>
     <div style="text-align:left;">
        <fieldset>
        <legend>Servicios y Grupos de Servicios:</legend>
       <table id="id_service_info_table" classs="span3" border="0" cellpadding="0" cellspacing="5" style="float:left; margin-left:2.5em; margin-right:3em;">
            <thead>
                <tr>
                    <th scope="col">Servicio</th>
                </tr>
            </thead>
            <tbody>
                {% for form in fs.forms %}
                <tr id="{{ form.prefix }}-row" class="form-container" style="text-align:left;">
                    <td style="height:4em;">
                    {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.service }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="id_serviceGroup_info_table" border="0" cellpadding="0" cellspacing="5">
            <thead>
                <tr>
                    <th scope="col">Servicio Grupo</th>
                </tr>
            </thead>
            <tbody>
                {% for form in fsg.forms %}
                <tr id="{{ form.prefix }}-row" class="form-container" style="text-align:left;">
                    <td>
                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.services_group }}
                    </td>
                </tr>                
                {% endfor %}
            </tbody>
        </table>
        <p>
            {{ f.management_form }}
            {{ fs.management_form }}
            {{ fsg.management_form }}
        </p>
        </fieldset>
    </div>
    
    
    <input type="submit" class="btn btn-large" value="Guardar y Salir" />
    <br>
    <br>
  	<br>
{% endblock %}

