{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h2 >TALLERES</h2> 
<br>
<br>
<table class="table table-hover span4">
  <thead>
    <tr>
      <th>TALLER</th>
      <th>OPCIONES</th>
    </tr> 
  </thead>
  <tbody>
    {% for garage in Garages %}
      <tr>
          <td>
            <a href='/Garage/{{ garage.id }}'>
              {{ garage.name }}
            </a>
          </td>
        <td style="text-align:center;">
          <a href='/Garage/Delete/{{ garage.id }}' class="btn btn-mini btn-danger"><i class="icon-trash"></i></a>
        </td>
      </tr>
    {% endfor%}
    <tr>
      <td>
        <a class="btn btn-small btn-success" href="/Garage/New/">Nuevo Taller</a>
      </td>
    </tr>
  </tbody>
</table>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
{% endblock %}

