{% extends "vehicle/storage_tank/base.html" %}
{% block title %}Home{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; Tanque Almacenamiento ({{ storage_tank }}){% endblock %} 
{% block content %}     
  <h2>Detalles de Tanque de Almacenamiento <a class="btn" href="/StorageTankReport/{{ storage_tank.id}}" target="_blank">Reporte</a></h2>
  <br>
  {{ storage_tank.series}}<br>
  <br>
  <p><label>{{ storage_tank.brand }}{{ storage_tank.model}}</label></p>
  <p><label style="float:left;">Chasis </label> {{ storage_tank.series }}</p>

  <br>
  <h3>Mantenimientos Realizados a Tanque de Almacenamiento <a class="btn" href="/StorageTankMaintenace/New/{{ storage_tank.id }}"><i class="icon-plus"></i></a></h3>
  {% for storage_tank_maintenance in storage_tank_maintenances %}
  <div id="myModal{{ storage_tank_maintenance.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 id="myModalLabel">Seguro que Deseas Eliminar</h3>
            </div>
            <div class="modal-body">
              <h4>Al eliminar un Mantenimiento</h4>
              <p>Ya no sera posible recuperarlo de nuevo </p>
              
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button>
              <a href="/StorageTankMaintenace/Delete/{{ storage_tank_maintenance.id }}/{{ storage_tank.id }}/" class="btn btn-primary">Estoy Seguro</a>
            </div>
  </div>
  <article class="tarjeta">
    <div class="btn-group btn-danger" style="width:100%;">
          <a href='/StorageTankMaintenace/{{ storage_tank_maintenance.id }}/{{ storage_tank.id }}' style="width:75%;" class="btn btn-danger btn-primary">
             {{ storage_tank_maintenance.garage }}
          </a>
          <a class="btn btn-danger btn-primary dropdown-toggle" data-toggle="modal" href="#myModal{{ storage_tank_maintenance.id }}"><span class="icon-trash"></span></a>
    </div>
    <section>
      <label>{{ storage_tank_maintenance.date }}</label>
      <hr>
      {% for storage_tank_service in storage_tank_services %} 
        {% if storage_tank_service.storage_tank_maintenance == storage_tank_maintenance %}
            <p>{{ storage_tank_service.service.name }}</p>
        {% endif%}
      {% endfor %}

      {% for storage_tank_service_group in storage_tank_services_groups %} 
        {% if storage_tank_service_group.storage_tank_maintenance == storage_tank_maintenance %}
            <p style="font-weight:bold;">{{ storage_tank_service_group.services_group.name }}</p>
        {% endif%}
      {% endfor %}
    </section>
  </article>  
  {% endfor %}
  <br>
  <br>
  
  <br><br><br><br><br><br><br><br><br><br>
{% endblock %}

