{% extends "vehicle/storage_tank/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h2 >RADIOS</h2> 
<br>
<br>
<table class="table table-hover span4">
  <thead>
    <tr>
      <th>RADIO</th>
      <th>OPCIONES</th>
    </tr> 
  </thead>
  <tbody>
    {% for radio in Radios %}
      <tr>
          <td>
            <a href='/Radio/edit/{{ radio.id }}'>
              {{ radio.series }}
              {{ radio.brand }}
              {{ radio.model }}
            </a>
          </td>
        <td style="text-align:center;">
          <a href='/Radio/Delete/{{ radio.id }}' class="btn btn-mini btn-danger"><i class="icon-trash"></i></a>
        </td>
      </tr>
    {% endfor%}
    <tr>
      <td>
        <a class="btn btn-small btn-success" href="/Radio/new/">Nuevo Radio</a>
      </td>
    </tr>
  </tbody>
</table>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
{% endblock %}

